.env
.env
g-research-crypto-forecasting/
airflow/logs/
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.pid

# Other runtime or state directories
__pycache__/
*.pyc

airflow/dags/__pycache__/
**/*.json

airflow/airflow.db
.idea/

