version: '3'

services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    user: root 
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/tmp/kraft-combined-logs
    command: 
      - "bash"
      - "-c"
      - |
        CLUSTER_ID="MkU3OEVBNTcwNTJENDM2Qk"

        # Kiểm tra xem đã format chưa để tránh lỗi format lại
        if [ ! -f /tmp/kraft-combined-logs/meta.properties ]; then
            echo "--- FORMATTING STORAGE ---"
            /opt/kafka/bin/kafka-storage.sh format \
              -t /tmp/kraft-combined-logs \
              -c /opt/kafka/config/kraft/server.properties \
              --cluster-id $${CLUSTER_ID} \
              --ignore-formatted
        else
            echo "--- STORAGE ALREADY FORMATTED ---"
        fi

        echo "--- STARTING KAFKA BROKER ---"
        /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties \
          --override advertised.listeners=PLAINTEXT://localhost:9092 \
          --override listeners=PLAINTEXT://:9092,CONTROLLER://:9093 \
          --override listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    environment:
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"

volumes:
  kafka_data:





# version: '3'

# services:
#   kafka:
#     image: apache/kafka:3.7.0
#     container_name: kafka
#     user: root 
#     ports:
#       - "9092:9092"
#     volumes:
#       - kafka_data:/tmp/kraft-combined-logs
#     command: 
#       - "bash"
#       - "-c"
#       - |
#         CLUSTER_ID="MkU3OEVBNTcwNTJENDM2Qk"

#         if [ ! -f /tmp/kraft-combined-logs/meta.properties ]; then
#             /opt/kafka/bin/kafka-storage.sh format \
#               -t /tmp/kraft-combined-logs \
#               -c /opt/kafka/config/kraft/server.properties \
#               --cluster-id $${CLUSTER_ID} \
#               --ignore-formatted
#         fi

#         /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties \
#           --override advertised.listeners=PLAINTEXT://host.docker.internal:9092 \
#           --override listeners=PLAINTEXT://:9092,CONTROLLER://:9093 \
#           --override listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
#     environment:
#       KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"

#   kafka-ui:
#     image: redpandadata/console:latest
#     container_name: kafka-ui
#     ports:
#       - "8081:8080"
#     environment:
#       - KAFKA_BROKERS=host.docker.internal:9092
#     depends_on:
#       - kafka

# volumes:
#   kafka_data:


